---
import SectionLayout from '../layouts/SectionLayout.astro';
import PrincipleCard from '../components/PrincipleCard.astro';
import CategoryFilter from '../components/CategoryFilter.astro';
import Principles from '../components/Principles.astro';
import Section from '../components/Section.astro';
import SectionHeader from '../components/SectionHeader.astro';
import Footer from '../components/Footer.astro';
import Header from '../components/Header.astro';
import data from '../data/design-systems.json';
import Button from '../components/Button.astro';
import Icon from '../components/Icon.astro';

const baseUrl = import.meta.env.BASE_URL;
---

<SectionLayout title="Design Systems - Vittorio's Portfolio">
  <Section contentClass="gap-1200 mobile:gap-600">
    <Header />
    <SectionHeader title={data.title} description={data.description} />

    <CategoryFilter categories={data.categories} />

    <Principles>
      {
        data.principles.map((principle) => (
          <PrincipleCard
            id={principle.id}
            title={principle.title}
            description={principle.description}
            category={principle.category}
            icon={principle.icon}
            color={data.categoryColors[principle.category]}
            href={`${baseUrl}/design-systems/${principle.id}`}
          />
        ))
      }
    </Principles>

    <Button href={baseUrl} variant="outline" class="justify-self-start">
      <Icon name="mi/baseline/arrow-back" />
      Back to Home
    </Button>
  </Section>
</SectionLayout>

<Footer />
