---
import CategoryLayout from '../layouts/CategoryLayout.astro';
import PrincipleCard from '../components/PrincipleCard.astro';
import Principles from '../components/Principles.astro';
import Nav from '../components/Nav.astro';
import SectionNav from '../components/SectionNav.astro';
import data from '../data/user-centered-design.json';

const baseUrl = import.meta.env.BASE_URL;
const sectionPath = '/user-centered-design';

// Sort principles by title
const sortedPrinciples = [...data.principles].sort((a, b) => a.title.localeCompare(b.title));
---

<CategoryLayout
  title="User-Centered Design - Vittorio's Portfolio"
  sectionTitle={data.title}
  sectionDescription={data.description}
  categories={data.categories}
>
  <Principles>
    {
      sortedPrinciples
        // .filter((principle) => !(principle as any).draft)
        .map((principle) => (
          <PrincipleCard
            id={principle.id}
            title={principle.title}
            description={principle.description}
            category={principle.category}
            icon={principle.icon}
            color={
              data.categoryColors[principle.category as keyof typeof data.categoryColors] || ''
            }
            href={`${baseUrl}/user-centered-design/${principle.id}`}
          />
        ))
    }
  </Principles>
  <Nav>
    <SectionNav baseUrl={baseUrl} sectionPath={sectionPath} principles={false} />
  </Nav>
</CategoryLayout>
