---
interface Props {
  author: string;
  title: string;
  description: string;
  url?: string;
  broken?: boolean;
  class?: string;
}

const { author, title, description, url, broken = false, class: className = '' } = Astro.props;
---

<article class={`grid gap-100 ${className}`}>
  <h5 class="text-title-h5 max-w-full">{author} — {title}</h5>
  <mds-text typography="caption" class="text-info-paragraph">{description}</mds-text>
  {
    url && (
      <a
        href={url}
        class={`${broken && 'line-through decoration-tone-neutral-03 text-tone-neutral-06 hover:decoration-tone-neutral-03/30 focus-visible:decoration-tone-neutral-03/30 hover:text-tone-neutral-03 focus-visible:text-tone-neutral-03'}`}
        title={`${broken ? 'Resource is no longer available' : 'Go to source'}`}
        target="_blank"
        rel="noreferrer noopener"
      >
        {url}
      </a>
    )
  }
</article>
