---
import Button from './Button.astro';
import Icon from './Icon.astro';
const baseUrl = import.meta.env.BASE_URL;

const socialLinks = [
  {
    name: 'LinkedIn',
    icon: 'mdi/linkedin',
    iconHover: 'group-[&:is(:hover,:focus-visible)]:text-label-blue-05 transition',
    url: 'https://linkedin.com/in/vittoriovittori',
  },
  {
    name: 'GitHub',
    icon: 'mdi/github',
    iconHover: 'group-[&:is(:hover,:focus-visible)]:text-tone-neutral-03 transition',
    url: 'https://github.com/vitto',
  },
  {
    name: 'Resume',
    icon: 'mi/outline/file-download',
    iconHover: 'group-[&:is(:hover,:focus-visible)]:text-label-yellow-04 transition',
    url: '/assets/vittorio-vittori-ds-architect-ux-designer-resume.pdf',
  },
];
---

<footer class="px-600 desktop:px-1200 pb-3200">
  <div class="max-w-screen-desktop w-full mx-auto text-center grid gap-1200 justify-center">
    <div class="grid gap-200 justify-center">
      <h2 class="text-title-h2 text-tone-neutral-01">Let's Connect</h2>
      <p class="text-info-detail">
        Interested in collaborating or learning more about my work in UX design and design systems?
      </p>
    </div>

    <div class="flex flex-wrap gap-600 items-start justify-center">
      {
        socialLinks.map((link) => (
          <a
            href={link.url}
            target={link.url.startsWith('http') ? '_blank' : undefined}
            rel={link.url.startsWith('http') ? 'noopener noreferrer' : undefined}
            class="relative group no-underline inline-flex min-w-4000 focus-bounce rounded-lg p-400 py-600 bg-tone-neutral/60 hover:bg-tone-neutral backdrop-blur"
          >
            <div class="text-center flex flex-col items-center gap-200 transition w-full group-[&:is(:hover,:focus-visible)]:-translate-y-200 ease-out-expo duration-1000">
              <div
                class={`p-200 bg-tone-neutral-09 rounded-lg inline-flex transition group-[&:is(:hover,:focus-visible)]:bg-tone-neutral group-[&:is(:hover,:focus-visible)]:shadow-sm-sharp ease-out-expo duration-1000 min-h-1000`}
              >
                <Icon class={link.iconHover} name={link.icon} />
              </div>
              <p class="text-info-detail">
                <b set:html={link.name}>{link.name}</b>
              </p>
            </div>
          </a>
        ))
      }
    </div>

    <!-- <p class="text-info-detail">
      The animated Blob is created with <a
        href="https://threejs.org/"
        target="_blank"
        rel="noopener noreferrer">Three.js</a
      > and it's based on the <a
        href="https://blog.itskay.co/blob/"
        target="_blank"
        rel="noopener noreferrer">Moving Alien Blob</a
      > article by Kay.
    </p> -->

    <p class="text-info-detail">
      No tracking. No ads. Just static HTML hosted on GitHub Pages.<br />
      This site respects your privacy by design.
    </p>
    <Button variant="light" class="justify-self-center" href={`${baseUrl}/privacy`}>
      <Icon name="mi/outline/privacy-tip" />
      Privacy Policy
    </Button>
  </div>
</footer>
