---
/**
 * UseCaseInteractive Component
 *
 * Wrapper for interactive use case demonstrations
 * Provides a container with appropriate styling for custom interactive content
 *
 * Props:
 * @param {string} class - Additional CSS classes
 */
interface Props {
  class?: string;
  contentClass?: string;
  clsHeight?: number;
}

const { class: className = '', contentClass = '', clsHeight = null } = Astro.props;

const initialStyle = clsHeight ? `max-height: ${clsHeight}px; min-height: ${clsHeight}px;` : null;
---

<div
  class={`use-case-interactive bg-tone-neutral-09 p-600 grid gap-400 grid-cols-full rounded-[28px] mobile:-mx-600 ${className}`}
>
  <p class="text-info-option text-center text-tone-neutral-03 justify-self-center">
    Interact with this use case to see how it works
  </p>
  <div
    class={`flex flex-col items-center justify-center gap-400 bg-tone-neutral overflow-hidden px-600 py-1200 rounded-xl shadow-sm-sharp w-full`}
  >
    <div
      class={`flex flex-col items-center transition-opacity justify-center gap-400 w-full relative box-border delay-300 opacity-0 ${contentClass}`}
      style={initialStyle}
      data-cls-prevent
    >
      <slot />
    </div>
  </div>
</div>
