---
import UseCase from '../../../UseCase.astro';
import UseCaseInteractive from '../../../UseCaseInteractive.astro';
import usersData from '../../../../data/visibility-of-system-status/users.json';
import Usage from '../../../Usage.astro';
import UsageItem from '../../../UsageItem.astro';
const baseUrl = import.meta.env.BASE_URL;
const users = usersData.map((user) => ({
  ...user,
  avatar: `${baseUrl}${user.avatar}`,
}));
const user = users[2];
---

<UseCase
  title="Essential Content"
  description="The interface presents only what is necessary for the user's current goal, removing visual noise and redundant information."
>
  <UseCaseInteractive clsHeight={44} toggle articleId="essential-content">
    {
      user && (
        <>
          <mds-author class="gap-300 w-full max-w-8000">
            <mds-avatar slot="avatar" src={user.avatar} class="size-1000" />
            <div class="grid grid-cols-full grow">
              <mds-text typography="h6">{user.name}</mds-text>
              <mds-text typography="caption">{user.role}</mds-text>
            </div>
          </mds-author>
          <mds-author class="gap-400 w-full max-w-8000">
            <mds-avatar slot="avatar" src={user.avatar} class="size-1600" />
            <div class="grid grid-cols-full grow">
              <mds-text typography="h6">{user.name}</mds-text>
              <mds-text typography="caption">{user.role}</mds-text>
              <mds-text typography="caption">{user.email}</mds-text>
              <mds-text typography="caption">Last activity 5 min ago</mds-text>
            </div>
          </mds-author>
        </>
      )
    }
  </UseCaseInteractive>
  <Usage>
    <UsageItem variant="do">Prioritize content directly related to the current task</UsageItem>
    <UsageItem variant="dont">Display secondary or promotional content by default</UsageItem>
    <UsageItem variant="do">Remove duplicated or low-value information</UsageItem>
    <UsageItem variant="dont">Repeat the same data in multiple visual forms</UsageItem>
    <UsageItem variant="do">Defer optional information behind secondary actions</UsageItem>
    <UsageItem variant="dont">Overload screens with edge-case details</UsageItem>
  </Usage>
</UseCase>
