---
import PrincipleLayout from '../../layouts/PrincipleLayout.astro';
import data from '../../data/user-centered-design.json';
import ConstraintBasedDesign from '../../components/use-cases/user-centered-design/error-prevention/ConstraintBasedDesign.astro';
import SafeDefaults from '../../components/use-cases/user-centered-design/error-prevention/SafeDefaults.astro';
import RealTimeValidation from '../../components/use-cases/user-centered-design/error-prevention/RealTimeValidation.astro';
import ClearAffordances from '../../components/use-cases/user-centered-design/error-prevention/ClearAffordances.astro';
import ErrorResistantFlows from '../../components/use-cases/user-centered-design/error-prevention/ErrorResistantFlows.astro';
import DestructiveActionProtection from '../../components/use-cases/user-centered-design/error-prevention/DestructiveActionProtection.astro';
import ClearInputExpectations from '../../components/use-cases/user-centered-design/error-prevention/ClearInputExpectations.astro';
import Nav from '../../components/Nav.astro';
import SectionNav from '../../components/SectionNav.astro';
import PrincipleNav from '../../components/PrincipleNav.astro';

const principle = data.principles.find((p) => p.id === 'error-prevention')!;
const baseUrl = import.meta.env.BASE_URL;
const sectionPath = '/user-centered-design';
const sectionName = 'User-Centered Design';
---

<PrincipleLayout
  title={`${principle.title} / ${sectionName}`}
  principle={principle}
  categoryColors={data.categoryColors}
  sectionName={data.title}
  sectionPath={sectionPath}
>
  <ClearAffordances />
  <ClearInputExpectations />
  <ConstraintBasedDesign />
  <DestructiveActionProtection />
  <ErrorResistantFlows />
  <RealTimeValidation />
  <SafeDefaults />
  <Nav>
    <SectionNav baseUrl={baseUrl} sectionPath={sectionPath} />
    <PrincipleNav
      baseUrl={baseUrl}
      currentPrincipleId={principle.id}
      sectionPath={sectionPath}
      allPrinciples={data.principles}
    />
  </Nav>
</PrincipleLayout>
