---
import PrincipleLayout from '../../layouts/PrincipleLayout.astro';
import data from '../../data/user-centered-design.json';
import ConstraintBasedDesign from '../../components/use-cases/user-centered-design/error-prevention/ConstraintBasedDesign.astro';
import SafeDefaults from '../../components/use-cases/user-centered-design/error-prevention/SafeDefaults.astro';
import RealTimeValidation from '../../components/use-cases/user-centered-design/error-prevention/RealTimeValidation.astro';
import ClearAffordances from '../../components/use-cases/user-centered-design/error-prevention/ClearAffordances.astro';
import ErrorResistantFlows from '../../components/use-cases/user-centered-design/error-prevention/ErrorResistantFlows.astro';
import DestructiveActionProtection from '../../components/use-cases/user-centered-design/error-prevention/DestructiveActionProtection.astro';
import ClearInputExpectations from '../../components/use-cases/user-centered-design/error-prevention/ClearInputExpectations.astro';
import Nav from '../../components/Nav.astro';
import SectionNav from '../../components/SectionNav.astro';
import PrincipleNav from '../../components/PrincipleNav.astro';
import Bibliography from '../../components/Bibliography.astro';
import BibliographyItem from '../../components/BibliographyItem.astro';
import BibliographySection from '../../components/BibliographySection.astro';

const principle = data.principles.find((p) => p.id === 'error-prevention')!;
const baseUrl = import.meta.env.BASE_URL;
const sectionPath = '/user-centered-design';
const bibliography = (data.bibliography as any)?.[principle.id];
const sectionName = 'User-Centered Design';
---

<PrincipleLayout
  title={`${principle.title} / ${sectionName}`}
  principle={principle}
  categoryColors={data.categoryColors}
  sectionName={data.title}
  sectionPath={sectionPath}
>
  <ClearAffordances />
  <ClearInputExpectations />
  <ConstraintBasedDesign />
  <DestructiveActionProtection />
  <ErrorResistantFlows />
  <RealTimeValidation />
  <SafeDefaults />
  {
    bibliography && (
      <Bibliography>
        {bibliography.books && bibliography.books.length > 0 && (
          <BibliographySection type="books">
            {bibliography.books.map((item: any) => (
              <BibliographyItem
                author={item.author}
                title={item.title}
                description={item.description}
                url={item.url}
                status={item.status}
              />
            ))}
          </BibliographySection>
        )}
        {bibliography.urls && bibliography.urls.length > 0 && (
          <BibliographySection type="urls">
            {bibliography.urls.map((item: any) => (
              <BibliographyItem
                author={item.author}
                title={item.title}
                description={item.description}
                url={item.url}
                status={item.status}
              />
            ))}
          </BibliographySection>
        )}
      </Bibliography>
    )
  }

  <Nav>
    <SectionNav baseUrl={baseUrl} sectionPath={sectionPath} />
    <PrincipleNav
      baseUrl={baseUrl}
      currentPrincipleId={principle.id}
      sectionPath={sectionPath}
      allPrinciples={data.principles}
    />
  </Nav>
</PrincipleLayout>
