---
import UseCase from '../../../UseCase.astro';
import UseCaseInteractive from '../../../UseCaseInteractive.astro';
import Usage from '../../../Usage.astro';
import UsageItem from '../../../UsageItem.astro';
import Brand from '../../../Brand.astro';
import ProductCategory from '../../../ProductCategory.astro';
import Products from '../../../Products.astro';
import usersData from '../../../../data/use-cases/users.json';

const firstUser = usersData[0];
---

<UseCase
  title="Shipping usable components before ideal abstractions"
  description="Early system components are designed to solve concrete, recurring problems rather than to establish a perfectly generalized model."
>
  <UseCaseInteractive
    label="Shipping usable components before ideal abstractions"
    overflowHidden={false}
    clsHeight={212}
    toggle
  >
    <div class="grid gap-1200 w-full max-w-8000">
      <mds-button icon="mi/baseline/emoji-events">Button</mds-button>
      <mds-push-notification-item
        icon="mi/outline/done"
        message="Button component is the most used component in Magma Design System."
        subject="Easy to draft"
        variant="success"
      >
      </mds-push-notification-item>
    </div>
    <div class="grid gap-1200 w-full max-w-8000">
      <mds-bibliography
        author={firstUser.name}
        date={firstUser.publicationDate}
        location={firstUser.city}
        name={firstUser.publicationName}
        publisher={firstUser.publisher}
        url={firstUser.publicationUrl}></mds-bibliography>
      <mds-push-notification-item
        icon="mi/outline/close"
        message="I wrote mds-bibliography as the first component, but in reality no one uses it."
        subject="Unexpected use case"
        variant="error"
      >
      </mds-push-notification-item>
    </div>
  </UseCaseInteractive>
  <style>
    mds-push-notification-item {
      --mds-push-notification-item-message-line-clamp: 3;
    }
  </style>

  <Usage>
    <UsageItem variant="do">Start from real use cases already present in the product.</UsageItem>
    <UsageItem variant="dont">Delay release waiting for a complete abstraction.</UsageItem>
    <UsageItem variant="do">Ship components that reduce immediate friction for teams.</UsageItem>
    <UsageItem variant="dont">Design components in isolation from real product needs.</UsageItem>
  </Usage>

  <Products>
    <ProductCategory title="Testable components">
      <Brand name="storybook" label="Storybook" />
    </ProductCategory>
    <ProductCategory title="Documentation">
      <Brand name="zeroheight" label="Zeroheight" />
    </ProductCategory>
    <ProductCategory title="Design & prototyping">
      <Brand name="figma" label="Figma" />
    </ProductCategory>
  </Products>
</UseCase>
